.page {
  height: 100vmax;
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #FFFFFF;
  width: 100%;
  padding: 28px 0 36px 0;
  background-color: #000;
  background-size: cover;
  box-sizing: border-box;  
}

@media screen and (min-width: 1024px) {
  .page {
    padding: 45px 0 50px 0;
  }
}
