.profile__add-button {
  width: 282px;
  height: 50px;
  margin:36px auto 36px;
  background-image: url(../../../images/add.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  transition: opacity 1s ease;
}

.profile__add-button:hover {
  opacity: .6;
}
  
@media screen and (min-width: 1024px) {
  .profile__add-button {
    width: 150px;
    height: 50px;
    margin: 0;
  }
}