.popup__submit {
  width: 235px;
  height: 46px;
  background-image: url(../../../images/Submit\ Button.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 1s ease;
}

.popup__submit:hover {
  opacity: .6;
}
  
@media screen and (min-width: 768px) {
  .popup__submit {
    width: 358px;
    height: 50px;
    background-image: url(../../../images/Submit\ Button\ 768.svg);
  }
}