.popup__submit {
  width: 235px;
  height: 46px;
  background-color: #000;
  border: none;
  color:#fff;
  font-size: 14px;
  line-height: 17px;
  transition: opacity 1s ease;
  margin-top: 15px;
}

.popup__submit:hover {
  opacity: .6;
}
  
@media screen and (min-width: 768px) {
  .popup__submit {
    width: 358px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}