.profile__job {    
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .profile__job {
    font-size: 18px;
    line-height: 22px;
  }
}